* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;      
}

body {
    height: 100%;
    background-color:#d4ebe2;
    color: #e4dbdb;
}

/*-----------------------características del header-------------------*/
header {
    width: 100%;
    height: 8rem;
    margin: 0;
    display: flex;
    left: 0; 
	top: 0; 
	/* position: fixed; */
    z-index: 300;
}

header nav {
    width: 100%; 
    height: 8rem;
    flex-wrap: wrap;
    height: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #157181;
    padding: 0.7rem;
    align-items: center;
}

header nav .logo {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: left;
}
      
.header-right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header h3 {
    color:#FFFF;
    font-size: 3.2rem;
    /* font-family: 'Open Sans', sans-serif; */
    font-family:'EB Garamond', serif;
}

header nav ul{
    width: auto;
    position: relative;  
    /* font-family: 'Open Sans', sans-serif;    */
    font-family:'EB Garamond', serif;
    color: #e4dbdb;
    margin: 0 1rem;
}

header nav ul li{
    
    width: 9rem;
    height: 3.5rem;
    display: inline-block;
    margin: 0 0.4rem;
    justify-content: center;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0 0  0 0px  #157181, 0.3em 0.3em 1em rgba(0,0,0,0.3); 
    border-radius: 1rem;   
    padding: 0.35rem;    
    border: solid 0.2rem #157181;       
    /* font-family: 'Open Sans', sans-serif;   */
    font-family:'EB Garamond', serif;  
    letter-spacing: 0.1rem; 
    border-radius: 1rem;
    background-color: #44a8b9;    
    vertical-align: middle;
    cursor: pointer;    
    text-transform: uppercase;    
}

header nav ul li a{
    justify-content: center;
    display: flex;
    position: relative;
    color: #e4dbdb;
    line-height: 2.4rem;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    padding: 0.02rem;
    text-decoration: none;
    cursor: pointer; 
}

header nav ul ul{
    position: absolute;
    width: 9rem;
    z-index: 200;
    opacity: 0;
    visibility: hidden;
    transition: top 0.3s;
    cursor: pointer; 
    /* overflow: scroll; */
}

header nav ul ul .container::-webkit-scrollbar {
    width: 10px;     
    height: 10px;      
}



header nav ul li:hover, header nav ul li.active {
    background-color:rgb(29, 61, 82);
    color: #e4dbdb;
    transition: 0.3s;
    box-shadow: 0 0 2rem 0 #157181 inset, 0 0 0.5rem 0.5rem #64c7ba;
}

header nav ul li:hover > ul{    
    opacity: 1;
    visibility: visible;
    width: auto;
}

header nav ul ul li{
    display: flex;
    position: relative;
    z-index: 201;
    right: 2rem;
    top: 2.5rem;
    width: auto;
    border-radius: 0rem;
    float: none;
    justify-content: center;
    align-items: center;
    background: #53909b;
    cursor: pointer; 
} 

header nav ul ul li a{
    justify-content: center;
    text-align: center;
    vertical-align: center;
}

/*--------------------------caja de busqueda----------------------*/
.container-searchBar{
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
}

.search-box{
    width:30%;
    height: 3.4rem;
    /* margin: 0.06rem; */
    display: flex;
    position: relative;  
    color: #FFFF; 
    background: #cccecf;
    border-radius: 2rem;
    padding: 0.2rem;
    vertical-align: middle;
    justify-content: center;   
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0 0  0 0px  #157181, 0.3em 0.3em 1em rgba(0,0,0,0.3);
} 

.search-txt{
    height: auto;
    width: 100%;
    border-radius: 3rem;
    border: none;
    padding: 0;    
    /* font-family: 'Open Sans', sans-serif; */
    font-family:'EB Garamond', serif; 
    font-size: 1rem;
    transition: 0.4s;
    background: none;
    text-align: center;
    float: left;
    color: #000000;
}

.search-btn{
    float: right;
    border-radius: 2rem;
    background: #e4dbdb;
}

.search-box:hover > .search-txt{
    width: 100%;
    background: #f3eded;
    padding: 0, 0.5rem;
    transition: 1s;
    color: black;
} 

header i {
    font-size: 1.4rem;
    width: 2.5rem;
    height: 2.5rem;
    justify-content: center;
    padding:9px;
    margin: 0.2rem;
    color: #104953;
    transition: .3s ease;  
}


/* --------------------- características del main---------------------- */
main {
    height: 100%;
    width: 100%;
    overflow: hidden;
    top: 8rem;
    /* display: flex; */
} 

/*---------------caracter÷isticas de la pagina principal----------------*/
.principalPage h3 {
    color: rgb(181, 220, 223);
    font-size: 7rem;
    -webkit-text-stroke: 0.002rem rgb(20, 58, 35);
    /* font-family: 'Open Sans', sans-serif; */
    font-family:'EB Garamond', serif; 
    font-weight: bold;
}

.principalPage nav, h3 {
    color: #e4dbdb;
}

.principalPage h1, h2 {
    color: rgb(8, 117, 121);
    font-size: 3.2rem;
    /* font-family:'Open Sans', sans-serif; */
    font-family:'EB Garamond', serif; 
    letter-spacing: 0.2rem; 
}

.principalPage h4 {    
    /* font-family: 'Open Sans', sans-serif; */
    font-family:'Source Sans Pro', sans-serif;
    letter-spacing: 0.15rem; 
}

.principalPage p {
    /* font-family: 'Open Sans', sans-serif; */
    font-family:'EB Garamond', serif;
    letter-spacing: 0.15rem; 
    color: #e4dbdb;
    font-size: 1.5rem;
}

/*------------------características de la sección de bienvenida-----------------*/
.mensaje_bienvenida {
    display: flex; 
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;    
    width: 100%;
    height: 35rem;   
    background-image: url("https://taylorfinn.files.wordpress.com/2018/10/45e1c53194fc5f424f17e0f926990af8.gif?w=540&h=300&crop=1") ;
    color: rgb(112, 112, 112);  
    background-size: cover;  
    background-position: center;  
    object-fit: cover;
}

.mensaje{
    display: flex; 
    flex-direction: column;   
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;    
    width: 100%;
    height: 7rem;    
    margin-top: 2.5rem;  
    /* font-style: italic; */
    font-family:'EB Garamond', serif;
    color: rgb(112, 112, 112);  
    background-size: cover;  
    background-position: center;  
    object-fit: cover;
    padding: 1%;
}

/*------------------características del carrusel-----------------*/
.carrusel {
    
    width: 100%;
    height: 600px;
    background-color:#524e4e;       
    position: relative; 
    user-select: none;      
   /*  margin: 5% 0; */
    margin-top: 5%;
}

#i1,#i2,#i3,#i4,#i5 {
    display: none;
}

.carrusel .slide_img {
    position: absolute;    
    height: 100%;
    width: 100%;
} 

.carrusel .slide_img img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
    background-size: 100% 100%;
    object-fit: cover;
}

.prev, .next {
    width: 4%;
    height: inherit;
    position: absolute;
    top:0;
    background-color: rgba(122, 117, 117, 0);
    color: #e4dbdb;
    z-index: 99;
    transition: .45s;
    cursor: pointer;
    text-align: center;
}

.next {
    right: 2.8rem;
}

.prev{
    left: 0.2rem;
}

label span{
    position: absolute;
    font-size: 7rem;
    top:50%;
    transform: translateY(-50%);
}

.prev:hover, .next:hover {
    transform: .3s;
    color: #fffefe;
}

#nav_slide{
    width: 100%;
    bottom: 12%;
    height: 0.7rem;
    position: absolute;
    text-align: center;
    z-index: 100;
    cursor: pointer;
}

#nav_slide .dots{
    top: 1.2rem;
    width: 1%;
    height: 1rem;
    margin: 0 0.25rem;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    background-color: rgba(0,0,0,0.6);
    transition: .4s;
}

#nav_slide .dots:hover {
    cursor: pointer;
    background-color: rgba(255 ,255 ,255, 0.9);
    transition: .25s;
}

.slide_img{z-index: -1;}

  #i1:checked ~ #one  ,
	#i2:checked ~ #two  ,
	#i3:checked ~ #three,
	#i4:checked ~ #four ,
	#i5:checked ~ #five 
	{z-index: 9; animation: scroll 1s ease-in-out;}

	#i1:checked  ~  #nav_slide #dot1,
	#i2:checked  ~  #nav_slide #dot2,
	#i3:checked  ~  #nav_slide #dot3,
	#i4:checked  ~  #nav_slide #dot4,
	#i5:checked  ~  #nav_slide #dot5
{ background-color: #e4dbdb;}

/* 
.container-carrusel{
    
    width: 100%;   
    overflow: hidden;
    position: relative;    
}

.slider{
    display: flex;
    width: 100%;
    height: 600px;
    
}

.seccionCarrusel{
    width: 100%;
    height: 100%;
}

.seccionImg{
    width: 100%;
    height: 100%;
    
}

.imgSlider{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;    
    

}

.slider-btn{
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(226, 221, 221, 0.726);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.slider-btn:hover{

    background: #FFFF;
}

.slider-btn-right{
    color: #000000;
    width: 40px;
    height: 40px;
    right: 15px;
}

.slider-btn-left{
    color: #000000;
    width: 40px;
    height: 40px;
    left: 15px;
}
 */
/*---------------------------características de la sección de filtrado---------------*/
.secfiltrado{
    width: 100%;    
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items:center;
    background-color: #157181;
    /* font-family: 'Open Sans', sans-serif; */
    font-family:'EB Garamond', serif;
    color: #e4dbdb;   
}

.secfiltrado nav{
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    height: 6rem;
    justify-content: space-around;
    align-items: center;
    /* margin: 1rem 1rem; */
}

.secfiltrado nav ul li a {
    font-family: 'EB Garamond';
}

.boxSecFilter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    vertical-align: middle;
    align-content: center;
    margin: 2rem;
}

.secfiltrado p{
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    color:rgba(231, 186, 101, 0.952);
    align-content: center;
    vertical-align: middle;
} 

/* main nav:after{
    content: "";
    clear: both;
    display: table;
}
 */
 
.secfiltrado nav ul{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style: none;
    position: relative;
}

.secfiltrado nav ul li{
    margin: 0 0.4rem;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0 0  0 0px  #157181, 0.3em 0.3em 1em rgba(0,0,0,0.3); 
    border: solid 0.2rem #157181;
    border-radius: 1rem;
    cursor: pointer; 
    padding: 0.35rem; 
    width: 9rem;
    height: 3rem;
    justify-content: center;
    overflow: hidden;
}

.secfiltrado nav ul li a{
    display: flex;   
    z-index: 200;
    color: rgb(230, 222, 222);
    line-height: 1.7rem;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    justify-content: center;
    text-align: center;   
    cursor: pointer; 
    width: auto;
    line-height: 2rem;
    font-size: 1rem;
    letter-spacing: 0.1rem;
}

.secfiltrado nav ul ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: auto;
    width: 13rem;
    opacity: 0;
    visibility: hidden;
    transition: top 0.2s;
   /*  overflow: scroll; */

}

.secfiltrado nav ul li:hover > ul{
    top: 3rem;
    opacity: 1;
    visibility: visible; 
}

.secfiltrado nav ul ul li{
    position: relative;
    z-index: 201;
    top: 1rem;
    margin: 0rem;
    width: auto;
    border-radius: 0rem;
    background: #53909b;
    cursor: pointer; 
    left: -0.6rem;
    height: auto;
} 

.secfiltrado nav ul ul li a{
    text-align: center;
    justify-content: center;
}

.secfiltrado nav ul ul li a:hover{
    color: rgb(176, 235, 207);
    border-radius: 0.3rem;
    box-shadow: none;
}

main nav ul li:hover{
   background-color: #56adbd;
}

.secfiltrado nav ul li a:hover{
    border-radius: 0.3rem;
    color: rgb(176, 235, 207);
}

/*---------------------------características del catálogo de películas----------------*/
.boxPoster {
    height: auto;
    width: auto;
    display: flex;
    padding: 2%;
    flex-wrap: wrap;
    justify-content: space-around;  
}

.portada {
    background: #d4ebe2;
    border-radius: 0 1rem 0 1rem;
    width: 22rem;
    height: 38rem;
    display: flex;  
    position: relative;
    margin: 2rem;
    overflow: hidden;
}

.textoImg {
    width: 100%;
    height: 15%;
    display: flex;    
    z-index: 5;
    position: absolute;
    top: 80%;
    justify-content: center;
    background: rgba(7, 53, 80, 0.582);
    /* font-family: 'Open Sans', sans-serif; */
    font-family:'EB Garamond', serif;
    letter-spacing: 0.15rem; 
    font-size: 1.3rem;
    text-shadow: 1rem 1rem 1rem 0;
    color: #e4dbdb;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    border-radius: 0 0 1rem 1rem;  
    overflow: hidden;
    cursor: pointer;
} 

button {
    display: flex;
    width: 100%;
    height: 81%;
    justify-content: center;
    border-color: #d4ebe2;
    border-radius: 1rem 1rem 0 0; 
    z-index: 6;    
} 
  
button img {
    height:100%;
    width:100%;
    background-repeat:no-repeat;
    border-radius: 1rem 1rem 0 0;   
    cursor: pointer;
    background-size: cover;  
    object-fit: cover;
}

.portada:hover {
    transition: 0.2s;
    transform: scale(1.01);  
    border-radius: 1rem;        
}

/*--------------------------------características de pagina2--------------------------*/
.pagina2 {
    display: flex;
    width:100%; 
    height: auto;
    background-color:#d4ebe2;
    display: none;   
}

/*--------------------contenedor principal de la 2da vista------------------*/
.contenidoPage{
    display: flex;
    background-color:#d4ebe2; 
    flex-wrap: nowrap;
    margin: 5em;
    justify-content: space-around;   
}

/* ------------------portada de la película seleccionada--------------------*/
.contentImagPage2 {
    display: flex;
    width: 50%; 
}

.contentImagPage2 img{    
    justify-content: center;
    height: 98%;
    width:95%; 
    padding: 1% 5rem;
    background-size: cover;  
    background-position: center;  
    
}

/*------------------contenido texto de la 2da vista-------------------*/
.contentMovie{
    display: flex;
    flex-direction: column;
    background-color:#f2f8f6;
    flex-wrap: wrap;
    color: rgb(0, 0, 0);
    /* font-family: 'Open Sans', sans-serif; */
    font-family:'EB Garamond', serif;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
    border-radius: 0 2rem 0 2rem;
    box-shadow: inset 0 2rem 2rem #e2dddd;
    width:50%; 
    height: 100%;
    border: solid #5d5f5e;
    padding: 2rem;
       
}

.contentPage2 {
    display: flex;
    justify-content: left;
    /* flex-direction: column; */
    margin: 1rem 0 1rem 0;  
    align-items: baseline;
    text-align: justify;
    font-size: 1.3rem;
    height: 90%;
    width: 100%;
}

.titlePage2 {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    margin: 1rem 0 1rem 0;  
    align-items: baseline;
    font-size: 1.3rem;
    height: 90%;
    width: 100%;
}
.contentPage2title {
    font-size: 3rem;
    font-weight: 700;
}

.contentPage2Subtitle {
    margin-right: 0.5rem;
    font-size: 1.8rem;
}
/*-----------------------catálogo de personajes------------------*/
.contenidoSubPage{
    height: 100%;    
    display: flex;
    padding: 2rem;
    margin: 2rem 5rem 2rem 5rem;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;  
    background: rgb(76, 185, 185);    
    /* background-repeat:no-repeat;
    background-size: cover; 
    object-fit: cover; */
    border-radius: 1.2rem;   
    /* font-family: 'Open Sans', sans-serif; */
    font-family:'EB Garamond', serif;
    letter-spacing: 0.1rem; 
    font-size: 1.2rem;    
    color: rgb(0, 0, 0);
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0 0  0 0px  #157181, 0.3em 0.3em 1em rgba(0,0,0,0.3); 
}

.contenedorSubData{
    width: auto;
    height: 100%;     
    display: flex; 
    justify-content: center;
    align-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2rem;
    padding: 0.8rem;
    border-radius: 0 1rem 0 1rem;
    background: rgb(255, 250, 250);
    color: rgb(31, 29, 29);
    /* font-family: 'Open Sans', sans-serif; */
    font-family:'EB Garamond', serif;
    letter-spacing: 0.1rem; 
    font-size: 1.5rem;   
    border: groove #d2d6d4;   
}

.subDataCharacter {
    font-size: 3rems;
}
.contenedorSubData img{
    height: 35rem;
    border-radius: 1rem;
    background-repeat:no-repeat;
    background-size: cover;   
    cursor: pointer;   
    object-fit: cover;
    margin: 0.5rem;
    width: 18rem;
    height: 22rem;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0 0  0 0px  #157181, 0.3em 0.3em 1em rgba(0,0,0,0.3); 
}

.TitleSec{
    color: rgb(31, 29, 29);
    margin: 2rem 5rem;
    /* font-family: 'Open Sans', sans-serif; */
    font-family:'EB Garamond', serif;
    letter-spacing: 0.1rem; 
    font-size: 2rem;   
}

/*----------------------características del modal-----------------------*/
.fondo{
    display: flex;
    height: auto;
    align-items: center;
    padding: 0 2.5rem;
    background-color:#d4ebe2;
    font-size: 1.2rem;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.cajaSuperior{
    padding: 1.1rem 0;    
    background-color: #3482AE;
    align-items: center;
    padding-right: 9%;
    padding-left:2%;
    text-align: center;
    width: 100%;    
    border-radius: 1.99rem 1.99rem 0 0;
}

.cajaSuperior h2{
    display: flex;
    color: #FFFF;
    margin: 0 1.2rem;
    font-size: 1rem ;
    letter-spacing: 0.5rem;
    justify-content: right;
    font-family: sans-serif;
    vertical-align: middle;
}

.modal-container{
    position: fixed;
    z-index: 500;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    background: rgba(105, 102, 102, 0.65);
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
}

.modal{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 55%;
    height: 43%;
    background: #FFFF;
    border-radius: 2rem 2rem 2.5rem 2.5rem;
    transform: translateY(0%);
    transition: transform 0.8s;
}

.modalClose {
    transform: translateY(-200%);
}

.close{
    position: absolute;
    top: 0.9rem;
    left:0.9rem;
    margin: 0;
    background-color: rgb(2, 44, 109);
    color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 1.9rem;
    height: 1.7rem;
    vertical-align: middle;
    align-content: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.imagen-carnet{
    height: auto;
    width: 75%;
    display: flex;
    justify-content: center;
    background-image: cover;
}

.imagen-carnet img{
    width: 100%;
    height: auto;
    background-size: cover;  
    background-position: center;  
    object-fit: cover;   
}

.fondoImg{
    display: flex;
    justify-content: center;
    background-color: #D3CEBD;
    height: auto;
    width: 50%;
    margin: 0;
    overflow: hidden;
}

.seccionDatos{
    height: auto;
    width: 50%;
    padding: 1rem;
    overflow: hidden;
    line-height:1.5rem;
}

.contenido-texto{    
    width: 100%;
    height: auto;
    color: #000000;
    font-size: 1.5rem;
    font-family: sans-serif;
    background: #FFFF;
}

.cajaMedia{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    background: #FFFF;
}

.finalCarnet{
    display: flex;
    position: absolute;
    color: #FFFF;
    background-color: #315468;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: sans-serif;
    font-size:0.7rem;
    font-weight: normal;
    font-variant: small-caps;
    letter-spacing: 0.5rem;
    padding: 0.8rem;
    width: 100%;
    height: auto;
    border-radius: 0 0 1.99rem 1.99rem;
}

.link{
    width: auto;
    height: auto;  
    margin: 3% 0;
    justify-content: center;
}

/*------------------------------- pagina3---------------------------------------------*/
.pagina3 {
    display: none;
    width:100%; 
    height: auto;
    background-color:#d4ebe2;
    display: none;  
    margin: 0;
}

.containerCategory{
    display: flex;
    flex-direction: column;
}

.categoryMovie{    
    justify-content: center;
    width: 100%;
    height: auto;
    color: rgb(31, 29, 29);
    padding: 2rem 6rem;
    /* font-family: 'Open Sans', sans-serif; */
    font-family:'EB Garamond', serif;
    letter-spacing: 0.1rem; 
    font-size: 1.5rem;   
}

.renderCategory{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    border: 0.4rem solid #23524b;
    justify-content: space-around;
    border-radius: 2rem;
    padding: 2rem;
    margin: 2rem 0;
}


/*------------------------------- pagina4---------------------------------------------*/
.pagina4 {
    display: none;
    padding: 3em;
    width:100%; 
    height: auto;
    background-color:#d4ebe2;
   
}

.contenidoPageGraficas {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.graficas-contenido {
    border: 0.4rem solid #23524b;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    border-radius: 2rem;
    padding: 1rem;
    margin: 3rem 3rem;
    width: 100%;
}

.boxPage4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: auto;
    margin: 2% 0;
    padding: 1rem;

}

.box1 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.chartTitle {
    align-items: 4rem;
    /* font-family: fantasy; */
    font-family:'EB Garamond', serif;
    font-size: 2rem;
    text-align: center;
    color: #43a8b9;
    -webkit-text-stroke: 0.09rem rgb(20, 58, 35);
}


.boxChart {
  width: 50rem;
  height: auto;
  background: #f2f8f6;
  border-radius: 2rem;
  padding: 2rem;
  border: 0.4rem solid #34805d;
  margin: 1.5rem 0;

}

.contentBoxCharts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin: 1rem;
}

.chart2 {
    width: 30rem;
}
/* ------------------------------scrollTopButton--------------------------------------*/

#buttomScrollTop {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    
  
}
.btnScrollTop {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    z-index: 490;
    margin: 2rem;
    border-radius: 50%;
    width: 5.3rem;
    padding: 0.5rem;
    height: 5.3rem;
    /* box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0 0  0 0px  #157181, 0.3em 0.3em 1em rgba(0,0,0,0.3); */
    background: #c2d4cc;
    cursor: pointer;
    border: #157181 5px solid;
}

.btnScrollTop i {
    font-size: 4.5rem;
    
}

.btnScrollTop:hover{
    background-color:rgb(168, 238, 238);
    transition: 0.3s;
    box-shadow: 0 0 0.6rem 0.1rem #104e48;
}


/* ---------------------características del footer--------------------- */
 footer { 
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;  
    width: 100%;
    height: 100%; 
    margin-top: 6.5rem;
    font-size: 1.5rem;
    
} 

.contenedor-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
    letter-spacing: 0.07rem; 
    background-color:#157181;
    width: 100%    
}

.contenedor-secundario {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
    background-color:#104953;
    width: 100%;
    /* font-family: 'Open Sans', sans-serif; */
    font-family:'EB Garamond', serif;
    letter-spacing: 0.1rem; 
    font-size: 1.05rem;
    color: #e4dbdb;
}

.titulo-seccion {
    color: #e4dbdb;
    font-size: 1.25rem;
    letter-spacing: 0.5rem;
}

.redes-sociales {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
}

i {
    font-size: 30px;
    padding:9px;
    margin: 3px 15px;
    color: #104953;
    transition: .3s ease;  
}

#fb:hover {
    cursor: pointer;
    color: rgb(29, 69, 201);
    transform: translateY(-0.38rem);
}

#twitter:hover {
    cursor: pointer;
    color: #0CA2DC;
    transform: translateY(-0.38rem);
}

#yt:hover {
    cursor: pointer;
    color: rgb(255, 0, 0);
    transform: translateY(-0.38rem);
}

.contenidoPagePersonajes {
    background: #44a8b9;
    color: #720076;
    height: 1200px;
    width: 100%;
}

/*---------------------- Media queries-menu responsive------------------------------- */
.checkbtn {
    cursor: pointer;
    display:none;
}

#check {
    display:none;
}

/*----------------------- esto seria para el responsive en celulares -----------------------------*/
@media (max-width: 1439px){
    .modal{        
        max-height: 400px;
        width: 60%;
        height: 55%;        
    }

    .cajaMedia{
        max-height: 400px;        
    }

    header nav {
        flex-direction: column;        
    }
}

@media (max-width: 1250px) {
    .checkbtn {
        display: flex;      
    }

    header nav {      
        justify-content: space-between;
        flex-direction:initial;
    }

    .header-right {
        display: none;
        position: absolute;
        width: 100%;
        height: auto;        
        background: #128291;  
        top: 8rem;
        left: 100;
        text-align: center;
        transition: all .5s;
        flex-direction: column;
        z-index: 300;
        padding: 2rem 0 2rem 0;
    }
  
    header nav ul li{
        margin: 1rem 0 1rem 0;    
        box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0 0  0 0px  #157181, 0.3em 0.3em 1em rgba(0,0,0,0.3); 
        border-radius: 1rem;
        font-size: 1.5rem; 
        width: 70%;    
        align-items: center;
        padding: 0.35rem;   
        text-align: center;     
    }

    header nav ul li a{
        margin: auto;       
    }
    
    header nav ul ul{
        position: relative;
        opacity: 0;
        visibility: hidden;
        font-size: 0.7rem;
    }
     
    header nav ul ul li{
        justify-content: center;
        width: auto;
        margin: 0; 
        bottom: 12rem;
        left: 0.2rem;
    }

    #check:checked ~.header-right {
        left: 0;
        display: block;      
    }
 
    .search-box{
        display: flex;
        position: relative;
        width: 79.5%;
        margin-bottom: 1.35rem;
        position: relative;   
        background: #cccecf;
        border-radius: 2rem;
        padding: 0.3rem;       
    } 
    
    .search-txt{
        height: auto;
        width: 0;
        border-radius: 3rem;
        border: none;
        padding: 0;
        /* font-family: 'Open Sans', sans-serif; */
        font-family:'EB Garamond', serif;
        font-size: 1rem;
        transition: 0.4s;
        background: none;
        text-align: center;
        float: left;
    }
    
    .search-btn{
        margin: 0 0.25rem;
        float: right;
        border-radius: 2rem;
        background: rgb(241, 239, 236);
    }
    
    .search-box:hover > .search-txt{
        width: 90%;
        background: rgb(241, 239, 236);
        padding: 0, 0.5rem;
    }

    label span{
        font-size: 4rem;  

    }

    .carrusel {
        height: 28rem;
    }

    .modal{
        width: 55%;
        height: 45%;
    }    
}

@media (max-width: 860px) {
    @media (min-width: 750px) {
        .modal{
           max-width: 640px;
        }

        .cajaMedia{
            max-height: 380px;
        }

        .codigoQR{
            width: 70px;
            height: 70px;
        }
        
        .seccionDatos{
            /* height: auto;
            width: 50%;
            padding: 2rem;
            overflow: hidden; */
            line-height:1.35rem;
        }

        .portada {           
            width: 30rem;
            height: 45rem;
        }  
    }
}

@media (min-width: 600px){
    .modal{        
        max-height: 380px;
        height: 70%;        
    }

    .cajaMedia{
        max-height: 380px;        
    }
}
 
@media (max-width: 1250px) {

    .secfiltrado {
        width: auto;
        height: 17rem;
        display: flex;
        background-color: #157181;
        /* font-family: 'Open Sans', sans-serif; */
        font-family:'EB Garamond', serif;
        letter-spacing: 0.12rem;
        color: #e4dbdb;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        flex-direction: column;
        flex-wrap: wrap;
    } 

    main nav { 
        display: flex;
        flex-wrap: wrap; 
        width: auto;
        align-content: center;
        align-items: center;
        vertical-align: middle;
        font-size: 1.9rem;
        margin: 0rem 1rem;
        flex-direction: column; 
     }

     main nav ul {
        display: inline-flex;
        flex-wrap: nowrap;
        list-style: none;
        position: relative;
        /* margin: 1rem 0rem; */
    }

    main nav ul li {
        border-radius: 0rem;
        justify-content: space-between;       
        font-size: 1.2rem;
        padding: 0;
        width: 13rem;        
        overflow: hidden;
    }

    main nav ul li a {
        font-size: 1rem;        
    }  

    .container-searchBar{
        display: flex;
        padding: auto;        
        align-content: center;
        justify-content: center;
        align-items: center;    
    }  
       
    
}

@media (max-width: 1280px){
    .contenidoPage{
        flex-direction: column;
        justify-content: center;
    }

    .contentImagPage2{
        justify-content: center;
        margin-bottom: 5rem;
        width: 100%;
    }
    .contentImagPage2 img{
        display: flex;
        justify-content: center;
        margin-bottom: 5rem;
        width: 647px;
        height: 660px;
        margin: 0;
    }

    .contentMovie{
        justify-content: center;
        width: 100%;
    }
}

@media (max-width: 1235px){
    .secfiltrado nav ul ul li{        
        top: -1rem;
    }
}

@media (max-width: 1061px) {
    .graficas-contenido {
        border: 0.4rem solid #23524b;
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: nowrap;
        width: 100%;
    }
    .boxChart {
        width: 30rem; 
        padding: 1rem;
    }
    .myChart {
        width: auto;
    }
}

